apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: lr-postgres
spec:
  serviceName: lr-postgres
  replicas: 1
  selector:
    matchLabels:
      app: lr-postgres
  template:
    metadata:
      labels:
        app: lr-postgres
    spec:
      nodeSelector:
        project: lr
      containers:
        - name: lr-postgres
          image: postgres:16-bullseye
          env:
            - name: POSTGRES_DB
              value: "{{ .Values.postgres.db }}"
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: lr-db-credentials
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: lr-db-credentials
                  key: password
            - name: POSTGRES_EXTRA_ARGS
              value: "-c listen_addresses=*"
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: pg-data
              mountPath: /var/lib/postgresql/data
          livenessProbe:
            exec:
              command:
                - pg_isready
                - -h
                - localhost
                - -U
                - postgres
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - pg_isready
                - -h
                - localhost
                - -U
                - postgres
            initialDelaySeconds: 5
            periodSeconds: 5
  volumeClaimTemplates:
    - metadata:
        name: pg-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 10Gi