variables:
  REGISTRY: "$CI_REGISTRY"
  REGISTRY_USER: "$CI_REGISTRY_USER"
  REGISTRY_PASS: "$CI_REGISTRY_PASSWORD"
  BACKEND_IMAGE: "$CI_REGISTRY_IMAGE/backend"
  FRONTEND_IMAGE: "$CI_REGISTRY_IMAGE/frontend"
  KUBECONFIG: "/tmp/kubeconfig"        # helm too

stages:
  - build
  - package
  - deploy
  - smoke

# ---------- Build JAR ----------
build-backend:
  stage: build
  image: gradle:8.5-jdk21
  script:
    - cd backend
    - chmod +x ./gradlew
    - ./gradlew bootJar --no-daemon --build-cache
  artifacts:
    paths:
      - backend/build/libs/*.jar
    expire_in: 1 hour

# ---------- Make Docker-image ----------
docker-backend:
  stage: package
  image: docker:24
  services:
    - docker:24-dind
  needs: [ build-backend ]
  script:
    - cd backend
    - docker login -u $REGISTRY_USER -p $REGISTRY_PASS $REGISTRY
    - docker build -t $BACKEND_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker push  $BACKEND_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker tag $BACKEND_IMAGE:$CI_COMMIT_SHORT_SHA $BACKEND_IMAGE:latest
    - docker push $BACKEND_IMAGE:latest

docker-frontend:
  stage: package
  image: docker:24
  services:
    - docker:24-dind
  script:
    - cd frontend
    - docker login -u $REGISTRY_USER -p $REGISTRY_PASS $REGISTRY
    - docker build -t $FRONTEND_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker push  $FRONTEND_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker tag $FRONTEND_IMAGE:$CI_COMMIT_SHORT_SHA $FRONTEND_IMAGE:latest
    - docker push $FRONTEND_IMAGE:latest

deploy-dev:
  stage: deploy
  image:
    name: alpine/helm:3.19.0
    entrypoint: [ "/bin/sh", "-c" ]
  needs: [ docker-backend, docker-frontend ]
  before_script:
    # copy kubeconfig from VM200
    - echo "$KUBECONFIG_FILE" | base64 -d > $KUBECONFIG
  script:
    - |
      helm upgrade --install lr-dev ./devops/helm/lr-app \
        --namespace lr-dev --create-namespace \
        --set global.imageRegistry=registry.gitlab.com \
        --set backend.image.repository=okh3/lebens_rhythmus/backend \
        --set frontend.image.repository=okh3/lebens_rhythmus/frontend \
        --set global.imageTag=$CI_COMMIT_SHORT_SHA \
        --set postgres.db=lebens_rhythmus\
        --set flannel.backend=host-gw

  tags:
    - lr-runner

deploy-traefik:
  stage: deploy
  image:
    name: alpine/helm:3.19.0
    entrypoint: [""]  # Отключаем дефолтный entrypoint
  before_script:
    - echo "$KUBECONFIG_FILE" | base64 -d > $KUBECONFIG
  script:
    - helm repo add traefik https://traefik.github.io/charts
    - helm repo update
    - helm upgrade --install traefik traefik/traefik -n traefik --create-namespace --set service.type=NodePort --set service.ports.web.nodePort=30080 --set service.ports.websecure.nodePort=30443 --set ports.web.port=8000 --set ports.websecure.port=8443 --set 'additionalArguments={--entrypoints.web.address=:8000,--entrypoints.websecure.address=:8443}'
  tags:
    - lr-runner

# ----------  Smoke-test ----------
smoke-test:
  stage: smoke
  image: curlimages/curl:latest
  needs: [ deploy-dev ]
  script:
    - curl -f https://api.tlab29.com/actuator/health || exit 1
    - curl -f https://tlab29.com || exit 1
  tags:
    - lr-runner