<header>
    <div class="logo">
        <a href="../home/index.html" class="logo-link">Lebens Rhythmus</a>
    </div>
    <nav>
        <nav>
            <a href="../home/index.html" class="nav-button">Startseite</a>
            <a href="../about/about.html" class="nav-button">Über uns</a>
            <a href="../activities/activities.html" class="nav-button">Aktivitäten</a>
            <a href="../workshops/workshops.html" class="nav-button">Kurse/Workshops</a>
            <a href="../performances/performances.html" class="nav-button">Aufführungen</a>
            <a href="../corporate/corporate.html" class="nav-button">Für Unternehmen</a>
            <!--            <a href="../feedback/feedback.html" class="nav-button">Feedback</a>-->
            <a href="../contact/contact.html" class="nav-button">Kontakt</a>
        </nav>
    </nav>
    <nav>
        <a href="../dashboard/dashboard.html" class="nav-button">Dashboard</a>
        <a href="../login/login.html" class="nav-button">Login/Register</a>
    </nav>
    <div class="langs">
        <button class="active">DE</button>
        <button>EN</button>
        <button>UA</button>
    </div>

    <!--Toggle mobile menu-->
    <div class="mobile-toggle" onclick="toggleMobileMenu()">☰</div>
</header>

<!--Mobile menu-->
<div class="mobile-menu" id="mobileMenu" style="display: none;">
    <a href="../home/index.html" class="nav-button">Startseite</a>
    <a href="../about/about.html" class="nav-button">Über uns</a>
    <a href="../activities/activities.html" class="nav-button">Aktivitäten</a>
    <a href="../workshops/workshops.html" class="nav-button">Kurse/Workshops</a>
    <a href="../performances/performances.html" class="nav-button">Aufführungen</a>
    <a href="../corporate/corporate.html" class="nav-button">Für Unternehmen</a>
    <!--    <a href="../feedback/feedback.html" class="nav-button">Feedback</a>-->
    <a href="../contact/contact.html" class="nav-button">Kontakt</a>
    <a href="../dashboard/dashboard.html" class="nav-button">Dashboard</a>
    <a href="../login/login.html" class="nav-button">Login/Register</a>
</div>