/*Reset & basic styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 0 20px;
    height: 3.75rem; /* 60px  or 3.75rem*/
    z-index: 1000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    font-weight: bold;
}

.logo-link {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.logo-link:hover {
    color: purple;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
nav {
    display: flex;
    gap: 20px;
}

.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    padding: 0.5rem 1.3rem;
    border-radius: 4px;
    color: #333;
    background-color: #a8c2d6;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.nav-button:hover {
    background-color: #e0e0e0;
    color: #222;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-button.active {
    background-color: #007BFF;
    color: white;
}

.langs {
    display: flex;
    gap: 10px;
}

.langs button {
    background: #eee;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.langs button.active {
    color: white;
    background: linear-gradient(to right, purple, pink);
}
/*Mobile menu*/
.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 60px; /* Высота header */
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mobile-menu a {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.mobile-menu a:hover {
    background-color: #f0f0f0;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px;
    background: none;
    border: none;
    color: #333;
}

/*!*Mobile menu*!*/
/*.mobile-menu {*/
/*    display: none;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*    padding: 10px 0;*/
/*    background: rgba(255, 255, 255, 0.95);*/
/*}*/

/*.mobile-menu button {*/
/*    width: 100%;*/
/*    text-align: left;*/
/*}*/

/* ===== Hero ===== */
.hero {
    min-height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assets/background_temp.jpg) center/cover no-repeat;
    position: relative;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: aqua;
    text-shadow: 0.15em 0.15em 0.25em rgba(0, 0, 0, 0.5);
}

.hero h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: #efe97d;
    text-shadow: 0.15em 0.15em 0.25em rgba(0, 0, 0, 0.8);
}

.hero p {
    font-size: 1.4rem;
    max-width: 60rem;
    margin-bottom: 30px;
    color: #efe97d;
    text-shadow: 0.15em 0.15em 0.25em rgba(0, 0, 0, 0.95);
}

.hero .buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.hero .buttons button {
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    transition: all 0.3s ease;

}

.hero .buttons .primary {
    background: linear-gradient(to right, purple, pink);
    color: white;
}

.hero .buttons .secondary {
    background: linear-gradient(to right, #E6E6FA, #FFB6C1);
    border: 2px solid purple;
    color: purple;
}

.hero .buttons button:hover {
    opacity: 0.8;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 3vh;
    font-size: 0.8rem;
    color: #666;
    background-color: rgba(244, 244, 244, 0.5);
}

.impressum {
    background: linear-gradient(135deg, #ffffff 0%, #f2f4f9 100%);
    color: #222;
    padding: 4rem 2rem;
    min-height: 90vh;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
    nav {
        display: none;
    }

    .mobile-toggle {
        display: block;
        cursor: pointer;
    }

    .mobile-menu {
        display: flex;
    }
}